<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>软工平台</title>
		<link rel="stylesheet" type="text/css" href="index.css" />
		<link rel="stylesheet" type="text/css" href="../../template/css/default.css" />
		<!--<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>-->
	</head>
	<body>
		<div class="header">
			<!-- logo图片在这里设置 -->
			<a href="index.html">
				<!-- 点击logo自动返回主页 -->
				<div class="logo">
				</div>
			</a>
			<div class="logged">
				<div class="user-photo"></div>
				<div class="user-name">cxk</div>
			</div>
		</div>
		

	</body>
</html>
