body{
    margin: 0;
}
div{
    /*border: black solid 1px;*/
}
#box{
    width: 100%;
}
#top{
    float: top;
    height: 70px;
	background-color: #3b3c3e;
	margin-bottom: 100px;
}
#logo{
    margin-left: 1%;
    float: left;
    width: 13%;
    height: 70px;
    font-size: 100%;
    align-content: center;
    text-align: center;
    line-height: 70px;
	color: #ffffff;
	font-family: "Microsoft YaHei";
	font-weight: bold;
	letter-spacing:3px;
}
#sign{
    margin-top: 15px;
    margin-right: 1%;
    float: right;
    width: 15%;
    height: 40px;
}
.button{
	text-align:center;
	vertical-align:middle;
	font-size: 100%;
	align-content: center;
	text-align: center;
	line-height: 40px;
	color: #ffffff;
	font-family: "Microsoft YaHei";
	font-weight: bold;
	letter-spacing:3px;
	background-color: #3B3C3E;
	color: #ffffff;
	border: 0;
}
#welcome h1{
	text-align:center;
	vertical-align:middle;
	font-size: 400%;
}
#welcome h3{
	margin-top: 50px;
	text-align:center;
	vertical-align:middle;
	font-size: 200%;
}